<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Use Your Words - Admin Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<div class="app">
    <nav class="nav nav-pills bg-secondary p-1">
        <a class="nav-link text-white" href="/home">Accueil</a>
        <a class="nav-link text-white active nav-item" href="/element/home">Admin</a>
        <a class="nav-link text-white" href="/element/ajouter">Ajouter</a>
        <a class="nav-link text-white" href="/element/liste">Liste des éléments</a>
    </nav>
    <div class="background">

    </div>
</div>
</body>
</html>
