.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background.list-table {
    flex-direction: column;
    justify-content: flex-start;
}

#titleElement
{
    color:#FFFFFF;
    font-weight: bold;
}

th:nth-child(2) {
    width: 10%;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-message p {
    background-color: white;
    padding: 10px;
    border: 1px solid red;
    color: red;
    font-size: xx-large;
}
