#homeBackground
{
    background-image:url("img/background.jpg");
    background-repeat: no-repeat;
}

#homeAdminBackground
{
    background-image:url("img/background.jpg");
    background-repeat: no-repeat;
}

#scoreBackground
{
    background-image:url("img/background.jpg");
    background-repeat: no-repeat;
}

#titleElement
{
    color:#FFFFFF;
    font-weight: bold;
}

th:nth-child(2) {
    width: 10%;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-message p {
    background-color: white;
    padding: 10px;
    border: 1px solid red;
    color: red;
    font-size: xx-large;
}
