.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url("./resources/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
}

.navbar {
  padding-bottom: 20px;
}

.waitingRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.waitingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  margin: 10px;
}

.error-tooltip {
  margin-top: 5px;
}

#gameFormContainer {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#gameForm {
  background-color: white;
  padding: 10px;
}

.game-room {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}

.teams {
  width: 10%;
}

.rightColumn {
  width: 10%;
}

.team {
  margin: 0px 5px 5px 5px;
}

.team .card-header {
  font-weight: bold;
  color: white;
}

.team ul li svg {
  fill: #007bff;
  margin-right: 5px;
}

.round {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.round h3 {
  text-align: center;
  width: 100%;
  color: #007bff;
  background-color: white;
  border-radius: 5px;
  padding: 5px 0px;
}

.submitWithTimer {
  display: flex;
  flex-direction: row;
}

#roundForm button {
  margin-right: 5px;
}

.timer {
  font-size: x-large;
  color: #dc3545;
}

.element {
  margin-bottom: 10px;
}

.element.text {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
}

.element.text input {
  width: auto;
  margin: 0px 5px;
}

.element.text p {
  margin: auto;
  white-space: nowrap;
}

.waitingMessage {
  padding: 10px;
  background-color: white;
  border: 1px solid lightblue;
}

.voteForm button {
  margin-top: 10px;
}

.gameResult, .voteResult {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid lightblue;
}

.gameResult {
  flex-direction: column;
}

.gameResultTeams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}