.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  margin: 10px;
}

nav {
  margin-bottom: 20px;
}

.waitingRoom {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.waitingMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  margin: 10px;
}

.error-tooltip {
  margin-top: 5px;
}

#gameFormContainer {
  width: 30%;
}

.game-room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
}

.teams {
  position: fixed;
  left: 0;
  top: 25%;
  margin: 10px;
}

.team {
  margin-bottom: 5px;
}

.team .card-header {
  font-weight: bold;
  color: white;
}

.team ul li svg {
  fill: #007bff;
  margin-right: 5px;
}

.round {
  margin-top: 60px;
}

.round h3 {
  text-align: center;
  border: 1px solid #007bff;
  width: 100%;
  color: #007bff;
  border-radius: 5px;
  padding: 5px 0px;
}

.submitWithTimer {
  display: flex;
  flex-direction: row;
}

#roundForm button {
  margin-right: 5px;
}

.timer {
  font-size: x-large;
  color: #dc3545;
}

.element {
  margin-bottom: 10px;
}

.voteForm button {
  margin-top: 10px;
}