<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Use Your Words - Main Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="app">
    <nav class="nav nav-pills bg-secondary p-1">
        <a class="nav-link active nav-item text-white" href="/home">Accueil</a>
        <a class="nav-link text-white" href="http://localhost:3000">Jouer !</a>
        <a class="nav-link text-white" href="/scoreboard">Tableau des scores</a>
        <a class="nav-link text-white" href="/element/home">Admin</a>
    </nav>
    <div class="background">

    </div>
</div>
</body>
</html>
